body{
    border: 1px solid black;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    margin-left: 0px;
}
#vision{
    width: 100%;
    border: 1px solid black;
    height: 246px;
    display: flex;
    flex-direction: column;
}
#images{
    height: 162px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.images{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 33px;
}
#paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
}